.loading-wheel-container {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
  transform: translateX(-50%) ;
  width: 100px;
  height: 100px;
  z-index: 9999;
}

.loading-wheel {
  height: 100%;
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.user-message {
  font-weight: 300;
  color: #22303d;
  text-align: center;
  padding: 20px;
}